@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  @apply bg-[#e0e0e0] font-sans text-[#2c3e50];
}

/* Estilo Scrollbar Clássico */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 2px solid #f0f0f0;
}
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}
